<h1>Oracle: test bind-variables with model-class "DbaTablespace"</h1>
Try at least twice to ensure all recursive ActiveRecord structure-requests are cached!<br/><br>

<fieldset>
  <legend>ActiveRecord.where with different parameter</legend>

  <%= form_tag(url_for(action: :bind_array)) do %>
    <%= submit_tag "Exec where with parameter Array and one parameter" %>
  <% end %>

  <%= form_tag(url_for(action: :bind_hash)) do %>
    <%= submit_tag "Exec where with parameter Hash and one parameter" %>
  <% end %>

  <%= form_tag(url_for(action: :bind_array_in)) do %>
    <%= submit_tag "Exec where with parameter Array and multiple parameter in IN-clause" %>
  <% end %>

  <%= form_tag(url_for(action: :bind_freeform)) do %>
    <%= text_area_tag(:freeform, "[\"Tablespace_Name = ?\", 'SYSTEM']", size: "80x10") %><br/>
    <%= submit_tag "Exec where with your own given parameter (textfield above)" %>
  <% end %>
</fieldset>
<br/>

<fieldset>
  <legend>ActiveRecord.find_each with different parameter</legend>

  <%= form_tag(url_for(action: :find_each_array)) do %>
    <%= submit_tag "Exec find_each for batching" %>
  <% end %>

</fieldset>
<br/>

<fieldset>
  <legend>Direct SQL execution </legend>

  <%= form_tag(url_for(action: :find_by_sql_array)) do %>
    <%= submit_tag "Exec find_by_sql with parameter Array" %>
  <% end %>

  <%= form_tag(url_for(action: :exec_query_array)) do %>
    <%= submit_tag "Exec ActiveRecord::Base.connection.exec_query with parameter Array" %>
  <% end %>
</fieldset>
<br/>

