<h1>Oracle: test bind-variables with model-class "Hugo"</h1>
Rails-Version = <%= Rails.version %>, Oracle_Enhanced-Adapter = <%= Gem.loaded_specs["activerecord-oracle_enhanced-adapter"].version %><br/><br/>

<fieldset>
  <legend>ActiveRecord.where with different parameter</legend>

  <%= form_tag(url_for(action: :bind_array)) do %>
    <%= submit_tag "Exec method 'where' on model class with parameter Array and one parameter" %>
  <% end %>

  <%= form_tag(url_for(action: :bind_hash)) do %>
    <%= submit_tag "Exec method 'where' on model class  with parameter Hash and one parameter" %>
  <% end %>

  <%= form_tag(url_for(action: :bind_array_collection)) do %>
    <%= submit_tag "Exec method 'where' on model class  with parameter Array and collection as parameter (fix IN-clause)" %>
  <% end %>

  <%= form_tag(url_for(action: :bind_hash_collection)) do %>
    <%= submit_tag "Exec method 'where' on model class  with parameter Hash and collection as parameter (bind collection as one parameter)" %>
  <% end %>
</fieldset>
<br/>

<fieldset>
  <legend>ActiveRecord.find_each with different parameter</legend>

  <%= form_tag(url_for(action: :find_each_array)) do %>
    <%= submit_tag "Exec method 'find_each' on model class for batching" %>
  <% end %>

</fieldset>
<br/>

<fieldset>
  <legend>Direct SQL execution </legend>

  <%= form_tag(url_for(action: :find_by_sql_array)) do %>
    <%= submit_tag "Exec method 'find_by_sql' on model class with parameter Array" %>
  <% end %>

  <%= form_tag(url_for(action: :find_by_sql_hash)) do %>
    <%= submit_tag "Exec method 'find_by_sql' on model class with parameter Hash" %>
  <% end %>

  <%= form_tag(url_for(action: :find_by_sql_bind_separate_string)) do %>
    <%= submit_tag "Exec method 'find_by_sql' on model class with separate binding of scalar String value" %>
  <% end %>

  <%= form_tag(url_for(action: :find_by_sql_bind_separate_integer)) do %>
    <%= submit_tag "Exec method 'find_by_sql' on model class with separate binding of scalar Integer value" %>
  <% end %>

  <%= form_tag(url_for(action: :find_by_sql_bind_separate_string_collection)) do %>
    <%= submit_tag "Exec method 'find_by_sql' on model class with separate binding of String Collection" %>
  <% end %>

  <br/>
  <%= form_tag(url_for(action: :find_by_sql_easy)) do %>
    <%= submit_tag "Exec method 'find_by_sql_easy' on model class with '?' as bind alias and Array of parameters" %>
  <% end %>

  <%= form_tag(url_for(action: :find_by_sql_easy_collection)) do %>
    <%= submit_tag "Exec method 'find_by_sql_easy' on model class with '?' as bind alias and Array of parameters including Sub-Arrays for Collections" %>
  <% end %>

  <br/>

  <%= form_tag(url_for(action: :exec_query_array)) do %>
    <%= submit_tag "Exec method 'ActiveRecord::Base.connection.exec_query' with parameter Array" %>
  <% end %>
</fieldset>
<br/>
<fieldset>
  <legend>Free definition of access method</legend>

  <%= form_tag(url_for(action: :bind_freeform)) do %>
    <%= text_area_tag(:freeform, "Hugo.where([\"Name = ?\", 'Name 1']).all", size: "80x10") %><br/>
    <%= submit_tag "Exec Ruby code (textfield above)" %>
  <% end %>


</fieldset>

